.home {

    /* overflow: hidden; */
    .user {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;

        .name {
            font-size: 36px;
            margin-bottom: 10px;
        }
    }

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 40px;
    }

    .login-info p {
        line-height: 28px;
        font-size: 14px;
        color: #999999;

        span {
            color: #666666;
            margin-left: 60px;
        }
    }

    .num {
        margin-left: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .el-card {
            width: 32%;
            margin-bottom: 20px;
        }

        .icon {
            font-size: 30px;
            width: 80px;
            height: 80px;
            text-align: center;
            line-height: 80px;
            color: #fff;
        }

        .detail {
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .detail .num {
            font-size: 30px;
            margin-bottom: 10px;
        }

        .detail .txt {
            font-size: 14px;
            text-align: center;
            color: #999999;
        }

        .ant-card {
            width: 33%;
        }

        .ant-card-body {
            padding: 10px 25px;
            display: flex;
        }
    }

    .graph {
        margin-top: 20px;
        display: flex;

        .el-card {
            width: 48%;
        }
    }

    .userinfo .name {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .anticon {
        font-size: 30px;
    }

    .icon-box {
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 85px;
        color: #fff;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}