.user_card {
    height: 100%;

    :global {
        .ant-card-body {
            padding: 10px 24px;
            height: 100%;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        height: 100%;

        .user {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;

            .userinfo {
                margin-left: 10px;

                .name {
                    font-size: 24px;
                    margin-bottom: 10px;
                }

                .access {
                    font-size: 12px;
                }
            }

            // @media screen and (min-width: 768px)  {
            //     .user-img{
            //         width: 150px;
            //         height: 150px;
            //     }
            // }
            // @media screen and (max-width: 767px)   {
            //     .user-img{
            //         width: 100px;
            //         height: 100px;
            //     }
            // }
            .user_img {
                width: 150px;
                height: 150px;
                border-radius: 50%;

            }
        }
    }
}

.row {
    height: 100%;
}



.login_info {

    margin: 0 auto;
    width: 180px;

    p {

        line-height: 28px;
        font-size: 14px;
        color: #999999;
    }

    span {
        color: #666666;

    }
}
.chartRow{
    margin-top: 8px;
}