  .sider {
    // height: calc(100vh - 64px);
    // height: 200px;
    // width: 300px;
    // background-color: red;
  }
  .menu{

  }

  .app-name {
    text-align: center;
    color: #fff;
    line-height: 64px;
    font-weight: bold;
    white-space: nowrap;
  }
  